body {
    font-family: Arial, sans-serif;
    width: 1200px;
    height: 500px;
    margin-top: 100px;
    margin-left: 200px;
    border: 2px solid rgb(220, 219, 219);
    border-radius: 15px;
    box-shadow: 2px 3px 5px rgb(153, 151, 151);
}
.detail {
    float: left;
    margin-top: 20px;
    width: 600px;
}

h1 {
    margin-left: 200px;
}

input {
    width: 250px;
    height: 25px;
    margin: 15px;
    padding: 3px;
}

i {
    margin-left: 60px;
    width: 15px;
}

.term {
    margin-left: -60px;
}

label {
    margin-left: -120px;
}

button {
    background-color: rgb(24, 95, 238);
    border: none;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 20px;
    width: 110px;
    height: 30px;
    color: white;
}

img {
    width: 600px;
    height: 500px;
    border-radius: 0px 5px 5px 0px;
}
